<!DOCTYPE html>
<html>
<head>
  <title>My books Online Store</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

<div id="banner">
<%= @page_title || " My Bookshelf" %>
</div>

<div id = "columns" >
	<div id="side">
        <p id = "time"> It is now <%= Time.now %> </p>
		<ul>
			<li> <a href="" > Home</a></li>
			<li> <a href="" > Contacts</a> </li>
			<li> <a href="" > About</a> </li>
		</ul>
	</div>

<div id="main">
<%= yield %>
</div>
</div>



</body>
</html>
